@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('Open-Sans'),
    url('../fonts/opensans.woff2') format('woff2'), 
    url('../fonts/opensans.woff') format('woff');
  }
 
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('Open-Sans-Light'),
    url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy Light'), local('Gilroy-Light'), 
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), 
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

 /* color */
:root { 
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-light-yellow: #F7E296;
  --basic-light-opacityblack: rgba(0, 0, 0, 0.3);
  --basic-yellow: #F0C52E;
  --basic-light-gray: #E5E5E5;
  --basic-special-green: #91C92F;
  --basic-special-dark-gray: #dcdcdc;
  --bacic-extra-light-gray: #c4c4c4;
  --basic-light-black: #363636;
  --basic-gray: #ebebeb;
  --basic-special-red: #F6DADA;
  --basic-special-gray: #eaeaea;
  --basic-special-light-gray: #f2f2f2;
  --basic-dark-gray: #464646;
  --basic-special-hover-black: rgba(0, 0, 0, 0.6);
  --basic-extra-light-white: rgba(255, 255, 255, 0.3);
  --basic-footer-white: rgba(255, 255, 255, 0.7);
  --basic-special-crambs-black: rgba(0, 0, 0, 0.1);
  --basic-aarows-black: rgba(0, 0, 0, 0.4);
  --basic-toogle-color: #C4C4C4;
  --basic-scale-black: rgba(0, 0, 0, 0.2);
}

body {
    min-width: 1200px;
    min-height: 100vh;
    margin: 0px;
    padding-bottom: 0;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-black);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: var(--basic-white);
  }

a {
    text-decoration: none;
  }

img {
    max-width: 100%;
    height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
    height: 100%;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/*header*/

.main-header {
  width: 1160px;
  position: relative;
  margin: 0 auto;
}

.header-logo {
  position: absolute;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Gilroy', Arial, sans-serif;
  top: -11px;
  left: 58px;
  color: var(--basic-black);
}

.header-logo:hover {
  color: var(--basic-special-hover-black);
}

.header-logo:active {
  color: var(--basic-light-opacityblack);
}


.tools {
  background-color: var(--basic-light-yellow);
  padding: 30px 60px 0;
  margin-top: 39px;
  display: flex;
}

.search-form {
  width: 440px;
  display: flex;
}

.search-input-header {
  background-color: transparent;
  border: none;
  height: 50px;
  width: 356px;
  padding-left: 38px;
  position: relative;
}

.search-form::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../img/icon_search.svg);
  background-repeat: no-repeat;
  top: 48px;
}

.search-input-header::placeholder {
  color: var(--basic-light-opacityblack);
}

.search-input-header:hover::placeholder {
  color: var(--basic-special-hover-black);
}

.search-input-header:focus {
  outline: none;
  border-bottom: 2px solid var(--basic-black);
}

.search-header-button {
  display: none;
  width: 84px;
  height: 50px;
  background-color: transparent;
  border: 2px solid var(--basic-black);
}
.search-input-header:focus + .search-header-button {
  display: block;
}

.search-header-button:hover {
  display: block;
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.search-header-button:active, .search-header-button:focus {
  display: block;
  background-color: var(--basic-black);
  color: var(--basic-extra-light-white);
}

.tools-button {
  background-color: transparent;
  padding-bottom: 0;
  padding-top: 0;
  padding-right: 0;
}

.tools-button:hover {
 color: var(--basic-special-hover-black);
}

.tools-button:active{
  color: var(--basic-light-opacityblack);
}

.header-login {
  margin-left: 100px;
  padding-left: 24px;
  position: relative;
  border: none;
}

.header-login::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 14px;
  background-image: url(../img/icon_user.svg);
  background-repeat: no-repeat;
  left: 0px;
  top: 19px;
}

.tools button:hover:before {
  opacity: 0.6;
}

.tools button:active:before{
  opacity: 0.3;
}

.basket {
margin-left: 41px;
padding-left: 20px;
position: relative;
border: none;
}

.basket::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url(../img/icon_basket.svg);
  background-repeat: no-repeat;
  left: 0px;
  top: 20px;
}
.compare {
  padding-left: 26px;
  position: relative;
  border: none;
  margin-left: auto;
}

.compare::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background-image: url(../img/icon_compare.svg);
  background-repeat: no-repeat;
  left: 0px;
  top: 19px;
}

/*nav*/

.site-navigation {
  background-color: var(--basic-light-yellow);
  padding: 35px 55px 0 60px;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
}

.header-catalog-button {
  border: none;
  background-color: transparent;
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  padding-right: 38px;
  position: relative;
  letter-spacing: 0.2em;
  padding-left: 0;
}

.header-catalog-button:hover {
color: var(--basic-special-hover-black);
}
.header-catalog-button:active {
  color: var(--basic-light-opacityblack);
}


.header-catalog-button::after {
  content: '';
  width: 22px;
  height: 22px;
  background-image: url(../img/icon_plus.svg);
  left: 231px;
  top: 1px;
  position: absolute;
}



.nav-catalog ul {

  list-style: none;
  margin-right: 63px;
  padding: 0;
  min-width: 125px;
  margin-top: 0;
  margin-bottom: 0;
}

.header-services {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 37px;
}

.header-services-item {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.header-services-item:hover {
color: var(--basic-special-hover-black);
}

.header-services-item:active {
  color: var(--basic-light-opacityblack);
}

.header-services li:nth-child(1) {
  margin-left: 18px;
}

.header-services li:nth-child(2) {
 margin-left: 35px;
 margin-right: auto;
}

.nav-catalog {
  display: flex;
  color: var(--basic-black);
  padding: 0 60px 45px 60px;
  position: absolute;
  top: 69px;
  width: 1160px;
  left: 0;
  background-color: var(--basic-light-yellow);
  
  z-index: 3;
}

.footer-catalog-item {
  color: var(--basic-black);
}

.tv-photo li, .watch-band li, .quadcopter li {
  margin-top: 16px;
}

.nav-catalog-hide {
  display: none;
}

.footer-catalog-item:hover {
color: var(--basic-special-hover-black);
}

.footer-catalog-item:active {
  color: var(--basic-light-opacityblack);
  }

/*first slider*/

.promo-slider {
  position: relative;
  width: 1160px;
  padding: 0;
  margin: 0 auto;
  min-height: 588px;
  background-image: linear-gradient(var(--basic-light-yellow), var(--basic-light-yellow) 127px, var(--basic-white) 127px, var(--basic-white));
}
.promo-slider ol {
  margin: 0;
  padding: 0;
  
}

.promo-slide-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.promo-anactive {
  display: none;
}

.promo-info-container h3 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  width: 500px;
  margin-top: 0;
  margin-bottom: 27px;
  z-index: 2;
  position: relative;
}

.promo-slide-container img {
  margin: auto;
}

.promo-selfie-stick img{
  margin-top: 0;
}

.promo-band img {
  margin-top: 26px;
  margin-left: 115px;
}

.promo-quadcopter img {
  margin-top: 82px;
  margin-left: 30px;
}

.promo-info-container {
  padding-top: 91px;
  position: relative;
}



.promo-info-container p {
  margin-top: 0;
  margin-bottom: 59px;
  width: 478px;
  
}

.detail {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  padding: 9px 43px;
  color: var(--basic-black);
  z-index: 3;
}

.detail::after {
  content: '';
  width: 100%;
  height: 8px;
  left: 0;
  top: 16px;
  position: absolute;
  background-color: var(--basic-yellow);
  z-index: -1;
}

.detail:hover {
  background-color: var(--basic-yellow);
}

.detail:active {
  color: var(--basic-light-opacityblack);
}

.properties {
  margin-top: 60px;
  list-style: none;
  padding: 0px;
  display: flex;
}

.properties li {
  margin-right: 62px;
}

.properties-value {
  display: block;
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  margin-bottom: 15px;
}

.properties-value-descrition {
  display: block;
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.promo-slider-button {
  background-color: var(--basic-white);
  width: 12px;
  height: 12px;
  background-image: url(../img/slider-button-empty.svg);
  background-repeat: no-repeat;
  position: relative;
  border: none;
  margin-left: 18px;
}

.promo-button-container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 88px;
  bottom: 238px;
}

.promo-button-active {
 background-image: url(../img/slider-button.svg);
}

.promo-selfie-stick .promo-info-container:before {
  content: '';
  display: block;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  position: absolute;
  left: 0px;
  top: 32px;
}

.promo-selfie-stick .promo-info-container:after {
  content: '01';
  position: absolute;
  color: var(--basic-white);
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  right:52px;
  top: -20px;
  z-index: 1;
}

.promo-band .promo-info-container:before {
  content: '';
  display: block;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  position: absolute;
  left: 0px;
  top: 32px;
}


.promo-band .promo-info-container:after {
  content: '02';
  position: absolute;
  color: var(--basic-white);
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  right: 52px;
  top: -20px;
  z-index: 1;
}

.promo-quadcopter .promo-info-container:before {
  content: '';
  display: block;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  position: absolute;
  left: 0px;
  top: 32px;
}

.promo-quadcopter .promo-info-container:after {
  content: '03';
  position: absolute;
  color: var(--basic-white);
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  right: 52px;
  top: -20px;
  z-index: 1;
}




/*categories*/

.categories {
  width: 1160px;
  margin: 0 auto 0;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.categories-item {
  width: 160px;
}

.categories-item a {
  color: var(--basic-black);
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.categories-item:nth-child(4) a {
 letter-spacing: normal;
}


.categories-image-container {
  width: 160px;
  height: 160px;
  background-color: var(--basic-light-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 38px;
}

.categories-item:nth-child(2) .categories-image-container {
  padding-top: 7px;
}

.categories-item:hover .categories-image-container {
  background-color: var(--basic-yellow);
}

.categories-item:active .categories-image-container {
  background-color: var(--basic-yellow);
}

.categories-item:active p {
  color: var(--basic-light-opacityblack);
}

.categories-item:active svg {
  opacity: 0.3;
}

/*Brands*/

.brands {
  width: 1160px;
  margin: 90px auto 86px;
  display: flex;
  justify-content: space-between;
}

.dji:hover {
  background-image: url(../img/logo-dji-color.png);
  background-repeat: no-repeat;
}

.dji:hover img {
  opacity: 0;
}

.spgadgets:hover {
  background-image: url(../img/logo-sp-gadgets-color.png);
  background-repeat: no-repeat;
}

.spgadgets:hover img {
  opacity: 0;
}

.gopro:hover {
  background-image: url(../img/logo-go-pro-color.png);
  background-repeat: no-repeat;
}

.gopro:hover img {
  opacity: 0;
}

.vive:hover {
  background-image: url(../img/logo-vive-color.png);
  background-repeat: no-repeat;
}

.vive:hover img {
  opacity: 0;
}

/*services slider*/

.services-slider {
  margin-top: 65px; 
  background-image: linear-gradient(to bottom,var(--basic-white),var(--basic-white)101px,var(--basic-light-gray)101px,var(--basic-light-gray));
}

.services-sliders-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 46px;
}

.services-slider-buttons {
  width: 277px;
  padding: 80px 0;
}

.services-button {
  width: 160px;
  padding-top: 9px;
  text-align: center;
  padding-bottom: 9px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  margin-bottom: 21px;
  position: relative;
  z-index: 1;
}

.services-button::before {
  content: '';
  width: 160px;
  height: 8px;
  background-color: var(--basic-yellow);
  position: absolute;
  left: 0;
  top: 16px;
  z-index: -1;
}

.services-button:hover::before {
 height: 100%;
 top:0;
}

.services-button-active {
  color: var(--basic-light-yellow);
}

.services-button-active::before {
  content: '';
  width: 277px;
  height: 40px;
  background-color: var(--basic-black);
  position: absolute;
  left: 0;
  top: 0px;
  z-index: -1;
}

.services-item {
  border-left: 7px solid var(--basic-black);
  padding: 72px 178px 46px 116px;
  position: relative;
  width: 883px;
}

.services-item h3 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
}

.services-item p {
font-family: 'Open Sans', Arial, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 30px;
letter-spacing: 0.1em;
margin-top: 40px;
}

.delivery::after {
content:'';
width: 136px;
height: 164px;
background-image: url(../img/delivery.svg);
position: absolute;
top: 72px;
right: 2px;
z-index: 2;
}

.delivery p {
  width: 495px;
}

.guarantee::after {
content:'';
width: 171px;
height: 195px;
background-image: url(../img/warranty.svg);
position: absolute;
top: 72px;
right: 2px;
z-index: 2;
}

.credit::after {
  content:'';
  width: 156px;
  height: 188px;
  background-image: url(../img/credit.svg);
  position: absolute;
  top: 72px;
  right: 2px;
  z-index: 2;
}

.services-item-hide {
  display: none;
}

/*info*/

.info {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 77px;
}

.about-us  {
  width: 473px;
  margin-right: 127px;
  position: relative;
}

.about-us::before {
  content: '';
  width: 80px;
  height: 7px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--basic-black);
}

.contacts {
  position: relative;
  width: 560px;
}

.contacts::before {
  content: '';
  width: 80px;
  height: 7px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--basic-black);
}

.about-us h3, .contacts h3 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-top: 57px;
  margin-bottom: 40px;
}

.about-us p, .contacts p {
  margin-bottom: 40px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}

.partners {
  list-style: none;
  margin-top: 60px;
  margin-bottom: 77px;
  padding-left: 32px;
}

.partners li {
  margin-bottom: 15px;
}

.partners-item {
  position: relative;
  color: var(--basic-black);
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  
}

.partners-item::before {
  content:'';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: -32px;
  top: 7px;
  border: 2px solid var(--basic-light-gray);
}

.about-us-detail  {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  padding: 9px 20px 9px 24px;
  color: var(--basic-black);
  z-index: 3;
}

.about-us-detail:hover {
  background-color: var(--basic-yellow);
}

.about-us-detail:active {
  background-color: var(--basic-yellow);
  color: var(--basic-light-opacityblack);
}

.about-us-detail::after {
  content: '';
  width: 100%;
  height: 8px;
  left: 0;
  top: 16px;
  position: absolute;
  background-color: var(--basic-yellow);
  z-index: -1;
}

.write-button {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  padding: 9px 40px;
  color: var(--basic-black);
  z-index: 3;
  background-color: transparent;
  border: none;
  margin-top: 72px;
}

.write-button::after {
  content: '';
  width: 100%;
  height: 8px;
  left: 0;
  top: 16px;
  position: absolute;
  background-color: var(--basic-yellow);
  z-index: -1;
}

.write-button:hover {
  background-color: var(--basic-yellow);
}

.write-button:active {
  background-color: var(--basic-yellow);
  color: var(--basic-light-opacityblack);
}

/*modal*/

.modal-write-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  width: 960px;
  padding: 92px 100px 69px;
  z-index: 4;
  left: 25%;
  top: 25vh;
  background-color: var(--basic-white);
  box-shadow: 0 0 20px 3px var(--basic-black);
}

.write-us-item {
  width: 360px;
}

.write-us-label {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
  margin-top: 32px;
}

.write-us-input {
  width: 360px;
  margin-top: 10px;
  min-height: 50px;
  background-color: var(--basic-special-light-gray);
  border: none;
  padding-left: 20px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.write-us-input:hover {
  background-color: var(--basic-special-gray);
}

.write-us-input:focus {
 background-color: var(--basic-white);
 border: 2px solid var(--basic-light-yellow);
 outline: none;
}

.message {
  width: 760px;
  min-height: 167px;
  background-color: var(--basic-special-light-gray);
  border: none;
  padding-left: 20px;
  padding-top: 16px;
  text-align: start;
  vertical-align: top;
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.message:hover {
  background-color: var(--basic-special-gray);
}

.message:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-light-yellow);
  outline: none;
}

.message::placeholder {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.write-us-button {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  padding: 9px 34px;
  color: var(--basic-black);
  z-index: 3;
  background-color: transparent;
  border: none;
  margin-top: 45px;
}

.write-us-button:hover {
  background-color: var(--basic-yellow);
}

.write-us-button:active {
  background-color: var(--basic-yellow);
  color: var(--basic-light-opacityblack);
}

.write-us-button::before {
content: '';
width: 100%;
height: 8px;
left: 0;
top: 16px;
position: absolute;
background-color: var(--basic-yellow);
z-index: -1;
}

.write-us-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background-color: var(--basic-light-yellow);
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.write-us-close:hover {
  background-color: var(--basic-yellow);
}

.write-us-hide {
  display: none;
}

.input-error-style {
  background-color: var(--basic-special-red);
}

.map-modal iframe {
  border: none;
}

.map-button {
  height: 222px;
  padding: 0;
  border: none;
}

.map-modal {
  width: 960px;
  height: 559px;
  z-index: 4;
  left: 25%;
  top: 25vh;
  position: fixed;
  box-shadow: 0 0 25px 3px var(--basic-black);
}

.map-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background-color: var(--basic-light-yellow);
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-modal-hide {
  display: none;
}

.main-footer {
  background-color: var(--basic-light-black);
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  padding-top: 43px;
}

.footer-logo {
  display: block;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Gilroy', Arial, sans-serif;
  color: var(--basic-yellow);
  padding: 0;
  margin-top: 30px;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-tools-and-logo {
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.footer-login {
background-color: transparent;
color: var(--basic-footer-white);
padding: 5px 0 5px 22px;
border: none;
position: relative;
}

.footer-login:hover {
  color: var(--basic-white);
}
.footer-login:hover::before {
  opacity: 0.6;
}

.footer-login:active {
  color: var(--basic-extra-light-white);
}

.footer-login:active::before {
  opacity: 0.3;
}



.footer-login::before {
  content: '';
  width: 13px;
  height: 14px;
  background-image: url(../img/icon_user_footer.svg);
  position: absolute;
  left: 0;
  top: 7px;
}

.footer-compare {
  background-color: transparent;
  color: var(--basic-footer-white);
  padding: 5px 0 5px 23px;
  border: none;
  margin-left: 37px;
  position: relative;
}

.footer-compare:hover {
  color: var(--basic-white);
}
.footer-compare:hover::before {
  opacity: 0.6;
}

.footer-compare:active {
  color: var(--basic-extra-light-white);
}

.footer-compare:active::before {
  opacity: 0.3;
}

.footer-compare::before {
  content: '';
  width: 14px;
  height: 14px;
  background-image: url(../img/icon_chart_footer.svg);
  position: absolute;
  left: 0;
  top: 7px;
}

.footer-basket {
  background-color: transparent;
  color: var(--basic-footer-white);
  padding: 5px 0 5px 20px;
  border: none;
  margin-left: 37px;
  position: relative;
}

.footer-basket:hover {
  color: var(--basic-white);
}
.footer-basket:hover::before {
  opacity: 0.6;
}

.footer-basket:active {
  color: var(--basic-extra-light-white);
}

.footer-basket:active::before {
  opacity: 0.3;
}

.footer-basket::before {
  content: '';
  width: 10px;
  height: 10px;
  background-image: url(../img/icon_basket_footer.svg);
  position: absolute;
  left: 0;
  top: 8px;
}

.footer-contacts-and-services {
  width: 1160px;
  padding-top: 45px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.footer-contacts-and-services address {
  color: var(--basic-white);
  font-style: normal;
  margin-bottom: 15px;
  justify-self: start;
  display: inline-block;
  text-align: start;
}

.services-footer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.services-footer li {
  margin-right: 32px;
}

.services-footer li:last-child {
  margin-right: 0;
}

.services-footer-item {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.services-footer-item:hover {
  opacity: 0.6;
}

.services-footer-item:active {
  opacity: 0.3;
}

.phone {
  color: var(--basic-white);
  margin-top: 0;
  justify-self: end;
  display: inline-block;
  text-align: end;
  margin-bottom: 15px;
}

.social-and-developer {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 39px;
  padding-bottom: 65px;
}

.social-and-developer::before {
  content: '';
  position: absolute;
  background-color: var(--basic-yellow);
  width: 80px;
  height: 7px;
  top: 49px;
  left: 0;
}

.social {
  width: 450px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.social li {
  margin-right: 20px;
}

.social li:last-child {
  margin-right: 0;
}


.developer {
  display: block;
  width: 27px;
  height: 34px;
  position: absolute;
  bottom: 68px;
  right: 0;
  z-index: 2;
}

.developer:hover {
  fill-opacity: 0.6;
}

.developer:active {
  fill-opacity: 0.3;
}

.twitter:hover, .facebook:hover, .instagram:hover {
 fill-opacity: 0.6;
}

.twitter:active, .facebook:active, .instagram:active {
  fill-opacity: 0.1;
}

/*catalog*/

.header-out {
  margin-left: 20px;
  color: var(--basic-light-opacityblack);
  background-color: transparent;
  border: none;
}

.footer-icon-out:before {
  content: '';
  width: 13px;
  height: 14px;
  background-image: url(../img/icon_user_footer_login.svg);
  position: absolute;
  left: 0;
  top: 7px;
}

.footer-out {
  background-color: transparent;
  color: var(--basic-footer-white);
  padding: 5px 0 5px 0px;
  margin-left: 24px;
  border: none;
}

.headihg-container {
  width: 1160px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, var(--basic-light-yellow), var(--basic-light-yellow)13px, var(--basic-white)13px, var(--basic-white));
  padding: 57px 60px 33px;
}

.catalog-h {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 0;
}

.bread-crumbs {
  list-style: none;
  display: flex;
  padding: 0;
  margin-top: 30px;
}

.crumbs-item {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-light-opacityblack);
  margin-right: 40px;
  position: relative; 
}

.crumbs-item:hover {
  color: var(--basic-special-hover-black);
}

.crumbs-item:active {
  color: var(--basic-special-crambs-black);
}

.crumbs-item::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-top: 1px solid var(--basic-black);
  border-right: 1px solid var(--basic-black);
  transform: rotate(45deg);
  right: -21px;
  top: 7px;
}

.crumbs-item-last::after {
  display: none;
}

.catalog-sort-panel {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  }

.catalog-sort-panel-background {
  background-image: linear-gradient(to right, var(--basic-special-dark-gray), var(--basic-special-dark-gray) 50%, var(--basic-light-gray) 50%, var(--basic-light-gray));
}

.hat-filters {
  width: 328px;
  background-color: var(--basic-special-dark-gray);
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 25px 60px;
}

.sorting {
  width: 832px;
  padding: 25px 0 25px 72px;
  display: flex;
  background-color: var(--basic-light-gray);
}

.sorting-list {
 display: flex;
 list-style: none;
 padding: 0;
 margin: 0;
 flex-wrap: wrap;
 margin-right: auto;
}

.sorting-element {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: 74px;
}

.sorting-item {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-light-opacityblack);
  margin-right: 30px;
  font-size: 14px;
line-height: 19px;
}

.sorting-item:hover {
  color: var(--basic-special-hover-black);
}

.sorting-item:active {
  color: var(--basic-black);
}

.arrow {
  margin-top: 2px;
  margin-left: 12px;;
}

.arrow:hover svg{
  fill: var(--basic-aarows-black);
}

.to-down:hover svg{
  fill-opacity: 0.4;
}

.arrow:active svg{
  fill: var(--basic-black);
}

.main-catalog-container {
  background-image: linear-gradient(to right, var(--basic-light-gray), var(--basic-light-gray)25%, transparent 25%, transparent 75%, var(--basic-white)75%, var(--basic-white));
}

.catalog-container {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 328px 832px;
}

.catalog-form {
  background-color: var(--basic-light-gray);
  padding: 69px 60px;
}

.name-filter {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  width: 200px;
  border-top: 2px solid var(--basic-black);
  padding-top: 14px;
  display: inline-block;
  margin-bottom: 30px;
}

.range-controls .scale {
  width: 200px;
  height: 2px;
  background: var(--basic-scale-black);
}

.range-controls .bar {
  width: 61%;
  height: 2px;
  background: var(--basic-special-green);
}

.range-controls {
  position: relative;
  height: 25px;
  padding-top: 9px;
}

.range-controls .toggle {
  box-sizing: content-box;
  z-index: 4;
  position: absolute;
  top: 0px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-toogle-color);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-toogle-color);
  cursor: pointer;
  margin: 0;
}

.range-controls .toggle-max {
  left: 114px;
}

.range-controls .toggle:hover {
  transform: scale(1.2);
}

.cost-inputs {
display: flex;
margin-bottom: 37px;
}

.cost-inputs-item {
  width: 72px;
  text-align: start;
  background-color: transparent;
  border: none;
}

.min-cost {
margin-right: 9px;
}

.color-filter {
  list-style: none;
  padding: 0;
  font-size: 14px;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 38px;
}

.color-filter li {
  margin-bottom: 16px;
}

.color-filter label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 42px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.filter-input-checkbox+label::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 5%;
}

.filter-input-checkbox:checked+label::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 5px;
  width: 17px;
  height: 17px;
  background-image: url(../img/checkbox.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox+label:hover::before {
  opacity: 0.6;
}

.filter-input-checkbox:checked:hover+label::after {
  opacity: 0.6;
}

.filter-input-checkbox:disabled+label::before {
  opacity: 0.25;
}

.filter-input-checkbox:checked:disabled+label::after {
  opacity: 0.25;
}

.filter-input-checkbox+label:active::before {
  opacity: 1;
}

.filter-input-checkbox:checked:active+label::after {
  opacity: 0.6;
}

.bluetooth-filter {
  list-style: none;
  padding: 0;
  font-size: 14px;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 38px;
}

.bluetooth-filter li {
  margin-bottom: 16px;
}

.filter-input-radio+label::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.filter-input-radio:checked+label::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
}

.bluetooth-filter label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 40px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.filter-input-radio+label:hover::before {
  opacity: 0.6;
}

.filter-input-radio:checked:hover+label::after {
  opacity: 0.6;
}

.filter-input-radio:disabled+label::before {
  opacity: 0.25;
}

.filter-input-radio:checked:disabled+label::after {
  opacity: 0.25;
}

.filter-input-radio+label:active::before {
  opacity: 1;
}

.filter-input-radio:checked:active+label::after {
  opacity: 0.6;
}

.show-button {
  margin-top: 5px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 9px 41px 9px 37px;
  position: relative;
  color: var(--basic-black);
  z-index: 3;
  background-color: transparent;
  border: none;
}

.show-button::before {
  content: '';
  width: 100%;
  height: 8px;
  left: 0;
  top: 16px;
  position: absolute;
  background-color: var(--basic-yellow);
  z-index: -1;
}

.show-button:hover {
  background-color: var(--basic-yellow);
}

.show-button:active {
  background-color: var(--basic-yellow);
  color: var(--basic-light-opacityblack);
}

